{
    servers {
        # 172.18.0.0/16 is the CIDR of the Docker network
        trusted_proxies static private_ranges 172.18.0.0/16
    }
}

http:// {
    handle_path /api/* {
        reverse_proxy api:5000 {
            header_up X-Forwarded-Prefix "/api"
        }
    }

    handle /health {
        reverse_proxy api:5000
    }

    handle {
        root * /srv/frontend
        file_server
        try_files {path} /index.html
    }

    encode gzip

    header {
        X-Frame-Options "SAMEORIGIN"
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer-when-downgrade"
        X-Robots-Tag "noindex, nofollow"
    }

    log {
        output stdout
        format console
    }
}
