.App {
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}

.App-logo {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav ul {
  list-style: none;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul {
  background-color: white;
  border: solid 2px #008359;
  border-radius: 5px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  background-color: #f3f0ad;
}


nav ul li a.active {
  color: #f3f0ad;
  background-color: #008359;
}
