* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f0ad;
  color: #222;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  color: #008359;
}

.container {
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}

.logo {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

tr > :first-child {
  padding-left: 0;
}

tr > :last-child {
  padding-right: 0;
}

td,
th {
  vertical-align: middle;
  padding: 8px 5px;
}

thead th,
tfoot th {
  text-align: left;
}

tbody th {
  text-align: right;
  vertical-align: middle;
}

td.score {
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
}

.score sup {
  font-size: 0.5em;
}

.fill {
  width: 100%;
}

.right {
  text-align: right;
}

.min-width {
  width: 0;
  white-space: nowrap;
}

input,
button {
  font-size: 1.1em;
  padding: 7px 10px;
  border-radius: 5px;
  height: 40px;
  vertical-align: top;
}

input {
  min-width: 40px;
}

a {
  color: #e9231a;
}

a:hover {
  cursor: url("cursor.png"), pointer;
}
